.container{
    background-color: rgb(208, 121, 15);
    height: 300px;
   display:grid;
grid-template-columns: auto auto auto;
width: 500px;
}
.box{
    background-color: blue;
    margin: 15px;
 

}
.rool{
    background-color: greenyellow;
grid-column: 2/4;
grid-row: 2/4;
}